.movieRow {
    margin-bottom: 2rem;

    h2 {
        margin-left: 2rem;
    }


    .movieRow--listArea {
        overflow-x: hidden;
        padding-left: 2rem;
    }

    .movieRow--list {
        width: 999rem;
    }

    .movieRow--item {
        display: inline-block;
        width: 9.5rem;

        img {
            width: 100%;
            transform: scale(.9);
            transition: all .2s ease;
            cursor: pointer;

            &:hover{
                transform: scale(1);
            } 
        }
    }

}